@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* outfit 400, 600, 900 */

:root {
    --cor00: hsl(14, 45%, 36%);
    --cor01: hsl(332, 51%, 32%);
    --cor02: hsl(0, 0%, 100%);
    --cor03: hsl(330, 100%, 98%);
    --cor04: hsl(30, 54%, 90%);
    --cor05: hsl(30, 18%, 87%);
    --cor06: hsl(30, 10%, 34%);
    --cor04: hsl(24, 5%, 18%); 
}

*{
    font-size: 16px;
}

body{
    background-color: var(--cor02);
}

main {
    background-color: white;
    border-radius: 20px;
    width: 600px;
    padding: 20px;
    margin: auto;
}

img {
    width: 100%;
}

main {
    font-family: "Outfit", arial;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}

#cabecalho {
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

h1 {
    font-size: 2em;
    font-family: "Young Serif", arial, serif;
    font-weight: 400;
    font-style: normal;
    color:  hsl(24, 5%, 18%);
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 1.2em;
    color: hsl(332, 51%, 32%);
    font-family: "Outfit", arial;
    font-weight: 600;
    font-style: normal;
    
}

.lista1 {
    color:  hsl(24, 5%, 18%);
}

hr {
    color: hsl(30, 18%, 87%);
}
.conteudo {
    background-color: hsl(342, 53%, 90%);
    border-radius: 10px;
    padding: 5px 5px;
    text-indent: 17px;
    font-family: "Outfit", arial;
    font-weight: 400;
    font-style: normal;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    line-height: 40px;
}

table td{
    border: 1px solid hsl(30, 18%, 87%);
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
    color:hsl(14, 45%, 36%);
    font-weight: bold;
}

table th{
    text-indent: 20px;
    border: 1px solid hsl(30, 18%, 87%);
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: left;
    font-weight: normal;
    
}

/* @media screen (max-width: 1440px) {
    html {
        font-size: 16px;
    }
} */

/* @media only screen and (min-width: 375px) and (max-width: 1440px) */


.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }